:root {

    /*--- color variables ---*/

    /* neutrals */
    --clr_light_neutral: #fffaf2;
    --clr_mid_neutral: #f2e3ce;
    --clr_dark_neutral: #262626;

    /* cool toned accent colors */
    --clr_light_cool: #e5b6ac;
    --clr_mid_cool: #5c81cc;
    --clr_dark_cool: #1a1c33;

    /* warm toned accent colors */
    --clr_light_warm: #ffd98c;
    --clr_mid_warm: #e5ac00;
    --clr_dark_warm: #ff5e0d;

    /*--- font families ---*/

    --header_font: all-round-gothic, sans-serif;
    /* font weights:
        XLig = 200
        Book = 400
        Medium = 500
        Demi = 600
        Bold = 700
    */

    --main_txt_font: como, sans-serif;
    /* font weights:
        ExtraLight = 200
        Light = 300
        Regular = 400
        Medium = 500
        Semibold = 600
        Bold = 700
        ExtraBold = 800
        Heavy = 900
    */

    /*--- font sizes ---*/

    --xl_font_size: 2.5rem;
    --l_font_size: 1.8rem;
    --m_font_size: 1.6rem;
    --s_font_size: 1.5rem;
    --xs_font_size: 1.2rem;

    /*--- variables for transitions ---*/

    --slow_timing: 900ms ease-in-out;
    --semi_fast_timing: 500ms ease-in-out;
    --fast_timing: 300ms ease-in-out;

    /*--- variables for burgermenu ---*/

    --burger_bar_width: 45px;
    --burger_bar_height: 6px;
    --burger_gap: 6px;
    --burger_margin: calc(var(--burger_bar_width) / 4);
    --burger_height: calc(var(--burger_bar_height) * 3 + var(--burger_gap) * 2);
    --x_bar_width: calc(var(--burger_height) * 1.41421356237);

    /*--- variables for call to action button ---*/

    --btn_bg_clr: var(--clr_mid_cool);
    --btn_border_clr: var(--clr_dark_neutral);
    --btn_txt_clr: var(--clr_dark_neutral);
    --btn_hover_bg: var(--clr_dark_warm);
    --btn_hover_txt: var(--clr_dark_neutral);
    --btn_hover_border: var(--clr_dark_neutral);
}

/*--------------------
    general styling
---------------------*/

body {
    background-color: var(--clr_light_neutral);
    color: var(--clr_dark_neutral);
    font-family: var(--main_txt_font);
    width: 100%;
}

/*--- call-to-action button ---*/

.cta_btn {
    background-color: var(--btn_bg_clr);
    border: 1px solid var(--btn_border_clr);
    border-radius: .8rem;
    color: var(--btn_txt_clr);
    cursor: pointer;
    font-family: var(--header_font);
    font-size: var(--xs_font_size);
    font-weight: 500;
    margin: 1%;
    padding: .3em .6em;
    text-transform: uppercase;
    width: fit-content;
}

.cta_btn:hover {
    background-color: var(--btn_hover_bg);
    border: 1px solid var(--btn_hover_border);
    color: var(--btn_hover_txt);
}

/*--- text elements ---*/

.menu_link {
    font-family: var(--header_font);
    font-size: 1.6rem;
    font-weight: 500;
}

.sub_menu .menu_link {
    font-weight: 400;
}

.head_1 {
    font-family: var(--header_font);
    font-size: var(--xl_font_size);
    font-weight: 600;
    letter-spacing: .3em;
    padding: 0 5%;
    text-align: center;
    text-transform: uppercase;
}

.head_2 {
    font-family: var(--header_font);
    font-size: var(--l_font_size);
    font-weight: 600;
    letter-spacing: .5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.head_3 {
    color: var(--clr_light_neutral);
    font-family: var(--header_font);
    font-size: calc(var(--xl_font_size) * 1.5);
    font-weight: 600;
    letter-spacing: .2em;
    position: absolute;
    text-align: center;
    text-shadow:
        1px 1px 3px var(--clr_dark_neutral),
        -1px -1px 3px var(--clr_dark_neutral);
    text-transform: uppercase;
    top: 40%;
    width: 100%;
    z-index: 1;
}

.head_4 {
    font-family: var(--header_font);
    font-size: var(--l_font_size);
    font-weight: 500;
    letter-spacing: .2rem;
    text-align: center;
    width: 100%;
}

.head_5 {
    font-family: var(--header_font);
    font-size: var(--m_font_size);
    font-weight: 500;
    text-align: center;
}

.head_6 {
    font-family: var(--header_font);
    font-size: var(--s_font_size);
    font-weight: 700;
    padding: 5% 0;
}

.txt {
    font-size: var(--s_font_size);
    font-weight: 500;
    line-height: 1.3em;
    padding: 5% 0;
    text-align: justify;
}

/*---------------------------
    header and navigation
----------------------------*/

.header {
    background-color: var(--clr_mid_neutral);
    z-index: 2;
}

/*--- logo ---*/

.logo_link {
    background-color: var(--clr_mid_neutral);
    border-radius: 0 0 2em 2em;
    left: 3%;
    max-width: 200px;
    position: absolute;
    width: 20%;
    z-index: 3;
}

.logo_img {
    max-width: 80%;
    padding: 5% 10% 10%;
}

/*--- navbar ---*/

.navigation {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 5%;
    z-index: 8;
}

/*--- main menu ---*/

.main_menu {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.menu_item.active_menu {
    border: 1px solid var(--clr_dark_neutral);
    border-radius: .5em;
    margin: 1%;
    padding: 1%
}

.menu_item {
    align-items: center;
    display: flex;
    padding: 2%;
    transition: background-color var(--semi_fast_timing);
}

.arrow {
    max-width: 10px;
    margin-left: 10px;
    transform: rotate(0);
    transition: transform var(--fast_timing);
}

/*--- sub menus ---*/

.sub_menu {
    align-items: center;
    background-color: var(--clr_light_warm);
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding-left: 10%;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    transition: all var(--fast_timing);
    width: 100%;
    z-index: 2;
}

.sub_item {
    padding: 1%;
}

/*--- search icon and search field ---*/

.nav_icons {
    align-items: center;
    justify-content: flex-end;
    width: 5%;
}

.sog_icon {
    max-width: 25px;
    padding: 4%;
    position: relative;
}

.sog_box {
    background-color: var(--clr_light_warm);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    padding: 1%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-110%);
    transition: all var(--fast_timing);
    width: 100%;
}

.sog_felt {
    background-color: var(--clr_light_neutral);
    border: none;
    font-family: var(--main_txt_font);
    font-size: var(--xs_font_size);
    width: 75%;
}

/*--- hide checkboxes ---*/

.menu_item input,
.sog > input,
.burgermenu input {
    display: none;
    pointer-events: none;
}

/*--- transitions and other effects ---*/

.sub_arrow:has(input:checked) + .sub_menu,
.sog:has(input:checked) + .sog_box {
    opacity: 1;
    pointer-events: all;
    transform: translateY(125%);
    transition: all var(--semi_fast_timing);
    z-index: 2;
}

.sub_arrow:has(input:checked) > .arrow {
    transform: rotate(90deg);
    transition: all var(--semi_fast_timing);
}

.menu_item:has(.sub_arrow input:checked) {
    background-color: var(--clr_light_warm);
    transition: all var(--slow_timing);
}

.logo_img:hover,
.menu_link:hover,
.sub_arrow:hover,
.sog:hover,
.sub_item:hover,
.some_img:hover {
    opacity: .6;
}

.sub_arrow,
.sog {
    cursor: pointer;
}

/*------------------------------------
    general styling of main section
-------------------------------------*/

/*--- hero ---*/

.hero_img {
    max-height: 25vh;
    width: 100%;
}

.hero_edge {
    background-color: var(--clr_mid_neutral);
    border-top: 1px solid var(--clr_dark_neutral);
    border-bottom: 1px solid var(--clr_dark_neutral);
    height: 25px;
}

.gradient_container {
    position: relative;
}

.gradient {
    background-image: linear-gradient(to top, var(--clr_light_neutral), transparent);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*--- intro ---*/

.intro {
    margin: 5% auto 0;
    max-width: 1200px;
    width: 90%;
}

.intro_txt {
    font-family: var(---main_txt);
    font-size: var(--m_font_size);
    font-weight: 500;
    letter-spacing: .2rem;
    line-height: 2rem;
    padding: 5%;
    text-align: justify;
}

/*--- content ---*/

.content {
    display: grid;
    gap: 0 3%;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1200px;
    padding: 5% 0 15%;
    width: 90%;
}

.cards .card {
    --_card_clr: var(--card_clr, var(--clr_dark_neutral));
}

.card {
    align-items: center;
    background-color: var(--_card_clr);
    border: 2px solid var(--clr_dark_neutral);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    margin-top: 5%;
    padding: 10%;
    position: relative;
}

.img {
    border: 1px solid var(--clr_dark_neutral);
    border-radius: 1em;
}

/* set color and alignment */

.card.left {
    --card_clr: var(--clr_mid_warm);
    text-align-last: left;
}

.card.mid {
    --card_clr: var(--clr_mid_neutral);
    text-align-last: center;
}

.card.right {
    --card_clr: var(--clr_light_cool);
    text-align-last: right;
}

/*------------------
    landingpage
-------------------*/

.index .hero {
    background-color: var(--clr_dark_neutral);
}

.index .hero_img {
    padding: 0 5%;
    width: 90%;
}

.welcome {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2% 0;
}

.welcome .icon {
    max-height: calc(var(--xl_font_size)* 1.5);
}

/*---------------------------
    "vores bryg" sub page
---------------------------*/

.bryg .content {
    gap: 5% 3%;
}

.bryg .card {
    height: 100%;
    margin: 0;
    padding: 5% 0;
}

.beerlabel {
    height: 20vw;
    padding-top: 2%;
}

/*--- pop up with ingredients ---*/

.pop_up_box {
    background-color: transparent;
    border: none;
    height: 60vh;
    max-width: 800px;
    padding: 0;
    width: 80vw;
}

.pop_up_box::backdrop {
    background: #262626;
    opacity: .8;
}

.pop_up {
    height: 100%;
    position: relative;
    width: 100%;
}

.product {
    left: 0;
    position: absolute;
    top: 25%;
    max-width: 25%;
    z-index: 1;
}

.product_img {
    max-height: 30vh;
    width: 100%;
}

.info {
    max-width: 80%;
    position: absolute;
    right: 0;
    top: 0;
}

.info_img {
    height: 100%;
    max-height: 55vh;
    width: 100%;
}

.pop_up_box .cta_btn {
    bottom: 0;
    position: absolute;
    right: 0;
}

/*--- different colors for each variant ---*/

.dragens_dyb {
    --btn_bg_clr: var(--clr_dark_cool);
    --btn_txt_clr: var(--clr_light_neutral);
    --btn_hover_bg: var(--clr_light_cool);
    --btn_hover_txt: var(--clr_dark_cool);
}

.pop_up_box.dragens_dyb {
    --btn_border_clr: var(--clr_light_neutral);
}

.himmelflugt {
    --btn_hover_bg: var(--clr_light_neutral);
}

.solnedgang {
    --btn_bg_clr: var(--clr_dark_warm);
    --btn_hover_bg: var(--clr_dark_neutral);
    --btn_hover_border: var(--clr_dark_warm);
    --btn_hover_txt: var(--clr_dark_warm);
}

.syrlig_sommer {
    --btn_bg_clr: var(--clr_light_warm);
    --btn_hover_bg: var(--clr_mid_warm);
}

.tropiske_rodder {
    --btn_bg_clr: var(--clr_mid_warm);
    --btn_hover_bg: var(--clr_light_warm);
}

.ubaerlig_sodme {
    --btn_bg_clr: var(--clr_light_cool);
    --btn_hover_bg: var(--clr_dark_warm);
    --btn_hover_border: var(--clr_light_cool);
    --btn_hover_txt: var(--clr_light_neutral);
}

/*---------------------------
    "events" sub page
---------------------------*/

.part_1,
.part_2 {
    display: flex;
    grid-column: span 3;
    justify-content: space-between;
}

.text {
    max-width: 65%;
    padding: 3% 7%;
}

.part_1 .img {
    height: 25vw;
}

.part_1 .head_4 {
    text-align: left;
}

.part_2 {
    flex-direction: row-reverse;
}

.part_2 .text {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.part_2 .head_4 {
    text-align: right;
}

.part_2 .img_box {
    max-width: 20vw;
    translate: 0 -5%;
}

/*---------------------------
    "om os" sub page
---------------------------*/

.om .intro {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.om .img_box {
    height: 35vw;
    max-width: 35%;
    right: 0;
}

.om .intro .img {
    border-radius: 2em;
    height: 100%;
    width: 100%;
}

.om .intro_txt {
    max-width: 60%;
}

/*--- cards ---*/

.om .cards {
    position: relative;
}

.card .icon {
    max-width: 20%;
    position: absolute;
}

.om .card.mid {
    --btn_bg_clr: var(--clr_light_warm);
    --btn_hover_bg: var(--clr_mid_warm);
}

.om .card.right {
    --btn_bg_clr: var(--clr_dark_warm);
    --btn_hover_bg: var(--clr_mid_cool);
}

.card.left .icon {
    right: -3%;
    top: -10%;
}

.card.mid .icon {
    bottom: 3%;
    max-height: 25%;
}

.card.mid .icon.left {
    left: 4%;
}

.card.mid .icon.right {
    right: 4%;
}

.card.right .icon {
    left: -3%;
    top: -10%;
}

/*--- about owners ---*/

.owner_section {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 3;
    padding-top: 5%;
}

.big_bro,
.lil_bro {
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: center;
    width: 20%;
}

.lil_bro {
    flex-direction: column-reverse;
}

/*---------------------------
    "kontakt" sub page
---------------------------*/

.kontakt .intro {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact_form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    grid-column: span 3;
    margin: 3% 0;
    width: 100%;
}

.form_txt {
    font-size: var(--xs_font_size);
    padding: 0 2% 1%;
}

.form_box {
    border: 3px solid var(--clr_dark_neutral);
    border-radius: .8rem;
    font-family: var(--main_txt_font);
    font-size: var(--xs_font_size);
    margin-bottom: 2%;
    padding: 1%;
    resize: none;
    width: 97%;
}

.contact_form .cta_btn {
    align-self: center;
}

/*--------------------
    404 errorpage
---------------------*/

.error .intro {
    max-width: 65%;
}

.error .intro .head_4 {
    line-height: 2.5rem;
}

.error .content .cta_btn {
    grid-column: 2 / 3;
    margin: 0 auto;
}

/*---------------------------
    footer
----------------------------*/

.footer {
    background-color: var(--clr_light_warm);
    border-top: 1px solid var(--clr_dark_neutral);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 5% 2%;
    position: relative;
}

/*--- go to top of page ---*/

.top_link {
    align-items: center;
    background-color: var(--clr_light_warm);
    border: 1px solid var(--clr_dark_neutral);
    border-radius: 1em;
    bottom: 105%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
    right: 5%;
    width: 60px;
}

.top_link:hover {
    background-color: var(--clr_mid_warm);
}

.top_img {
    max-width: 50px;
    padding: 20%;
    position: relative;
    rotate: -90deg;
    width: 35%;
}

/*--- actual footer ---*/

.foot_om {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
}

.foot_om .txt {
    padding: 3% 0;
    text-align: left;
}

.foot_om .cta_btn {
    margin: 5% 0 1%;
}

.foot_some {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 25%;
}

.some_link {
    height: fit-content;
    padding: 10%;
    max-width: 50%;
}

.some_img {
    max-width: 70px;
    width: 100%;
}

.foot_kontakt {
    text-align: right;
    width: 30%;
}

.foot_kontakt .txt {
    padding: 0;
    text-align: right;
}

.copy_txt {
    padding-top: 6%;
    text-align: center;
    width: 100%;
}

/*------------------------------------------------
    styling for smaller and extra large screens
-------------------------------------------------*/

@media (max-width: 1050px) {
    .main_menu .menu_item:first-child {
        display: none;
    }

    .pop_up_box {
        height: 55vh;
    }

    .foot_some {
        width: 25%;
    }
}

/*--- adjustments for tablet and larger mobile devices ---*/

@media (max-width: 800px) {

    :root {

        /*--- font sizes ---*/

        --xl_font_size: 1.8rem;
        --l_font_size: 1.5rem;
        --m_font_size: 1.4rem;
        --s_font_size: 1.2rem;
        --xs_font_size: 1rem;
    }

    .head_6 {
        padding: 3% 0 2%;
    }

    /*---------------------------
        header and navigation
    ----------------------------*/

    .header {
        bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 9;
    }

    .logo_link {
        border-radius: 1.5em 1.5em 0 0;
        translate: 0 -40%;
        width: 40%;
    }

    .navigation {
        align-items: flex-end;
        flex-direction: column-reverse;
    }

    /*--- main menu ---*/

    .main_menu {
        align-self: center;
        background-color: var(--clr_mid_neutral);
        flex-direction: column;
        font-size: var(--xl_font_size);
        height: 65vh;
        justify-content: flex-start;
        margin: 0;
        padding: 10%;
        position: absolute;
        text-align: left;
        translate: 120% -90%;
        transition: translate var(--slow_timing);
        width: 100%;
        z-index: 1;
    }

    .main_menu .menu_item:first-child {
        display: flex;
    }

    .menu_item.active_menu {
        margin: 0;
        padding: 2%
    }

    .menu_item {
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .sub_menu {
        align-items: flex-start;
        flex-direction: column;
        padding-left: 5%;
        transform: translateY(0);
    }

    /*--- navigation icons ---*/

    .nav_icons {
        display: flex;
        flex-direction: row;
        width: 70%;
        z-index: 2;
    }

    .menu_icon {
        padding: 5%;
    }

    .menu_icon:last-child {
        padding-right: 0;
    }

    /*--- search ---*/

    .sog_icon {
        max-width: 30px;
    }

    .sog_box {
        transform: translateY(0);
    }

    .sog_felt {
        width: 65%;
    }

    /*--- burgermenu ---*/

    .burgermenu {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: var(--burger_gap);
        right: var(--burger_margin);
        width: max-content;
        z-index: 2;
    }

    .burgermenu::before,
    .burgermenu::after,
    .burgermenu input {
        background-color: var(--clr_dark_neutral);
        border-radius: 999px;
        content: "";
        height: var(--burger_bar_height);
        transform-origin: left center;
        transition: opacity var(--semi_fast_timing), width var(--semi_fast_timing), rotate var(--slow_timing), translate var(--semi_fast_timing);
        width: var(--burger_bar_width);
    }

    .burgermenu input {
        appearance: none;
        display: flex;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    /*--- transitions and other effects ---*/

    .header:has(.burgermenu input:checked) .main_menu {
        translate: 0 -90%;
        transition: translate var(--slow_timing);
    }

    /* burgermenu */

    .burgermenu:has(input:checked)::before {
        rotate: 45deg;
        translate: 0 calc(var(--burger_bar_height) / -2);
        width: var(--x_bar_width);
    }

    .burgermenu:has(input:checked)::after {
        rotate: -45deg;
        translate: 0 calc(var(--burger_bar_height) / 2);
        width: var(--x_bar_width);
    }

    .burgermenu input:checked {
        opacity: 0;
        transition: opacity var(--semi_fast_timing), width var(--semi_fast_timing);
        width: 0;
    }

    /* search bar */

    .sog:has(input:checked) + .sog_box {
        transform: translateY(-90%);
        z-index: 1;
    }

    /* remove hover effects */

    .logo_img:hover,
    .menu_link:hover,
    .sub_arrow:hover,
    .sog:hover,
    .sub_item:hover,
    .some_img:hover {
        opacity: 1;
    }

    /* sub menus */

    .sub_arrow:has(input:checked) + .sub_menu {
        transform: translateY(100%);
    }

    .sub_arrow:has(input:checked) + .om_sub {
        pointer-events: all;
        transform: translateY(30%);
    }

    /*---------------------
        content
    ----------------------*/

    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .index .content,
    .om .content,
    .kontakt .content {
        width: 80%;
    }

    /*------------------
        landingpage
    -------------------*/

    .index .cards {
        grid-column: span 2;
        height: fit-content;
    }

    .index .card {
        display: grid;
        gap: 0 5%;
        grid-column: subgrid;
        grid-template-columns: repeat(2, 1fr);
        margin: 3% auto 7%;
        padding: 5%;
        text-align-last: left;
    }

    .index .card .img {
        grid-row: span 2;
        height: 100%;
    }

    /*---------------------------
        "vores bryg" sub page
    ---------------------------*/

    .pop_up_box {
        height: 70vh;
    }

    .product {
        max-width: 50%;
        top: 0;
        z-index: initial;
    }

    .info {
        bottom: 0;
        max-height: 100%;
        top: auto;
    }

    .pop_up_box .cta_btn {
        bottom: 2%;
        right: 5%;
    }

    .bryg .content {
        margin-bottom: 10%;
    }

    /*---------------------------
        "om os" sub page
    ---------------------------*/

    .om .hero_img,
    .om .cards {
        display: none;
    }

    .om .hero_edge {
        background-color: transparent;
        border: none;
        height: 320px;
    }

    .om .intro {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80%;
    }

    .om .intro_txt {
        max-width: 100%;
        padding: 5% 0;
    }

    .om .img_box {
        height: 350px;
        left: 10%;
        position: absolute;
        max-width: 80%;
        top: -3.5%;
        width: 80%;
    }

    .om .intro .img {
        border: 20px solid var(--clr_dark_neutral);
        box-sizing: border-box;
    }

    .owner_section {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
    }

    .name {
        max-width: 30%;
    }

    .owner_section .img {
        height: 25vw;
        max-width: 40%;
    }

    .big_bro,
    .lil_bro {
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .big_bro {
        flex-direction: row-reverse;
        padding: 5% 0 0;
    }

    /*---------------------------
        404 errorpage
    ----------------------------*/

    .error .content {
        display: flex;
    }

    /*---------------------------
        footer
    ----------------------------*/

    .footer {
        padding: 5% 5% 20%;
    }

    .top_link {
        height: 50px;
        width: 50px;
    }

    .foot_om {
        display: none;
    }

    .foot_some {
        justify-content: flex-start;
        width: 40%;
    }

    .some_link {
        padding: 5% 15% 10% 5%;
    }

    .foot_kontakt {
        width: 55%;
    }

    .copy_txt {
        bottom: 25%;
        position: absolute;
        right: 5%;
        text-align: right;
        width: fit-content;
    }

}

/*--- adjustments mobile devices ---*/

@media (max-width: 600px) {
    :root {

        /*--- font sizes ---*/

        --xl_font_size: 1.5rem;
        --l_font_size: 1.3rem;
        --m_font_size: 1.2rem;
    }

    .sog_felt {
        width: 55%;
    }

    /*---------------------------
        "vores bryg" sub page
    ---------------------------*/

    .indhold {
        display: flex;
        justify-content: center;
    }

    .info {
        max-height: 80%;
        max-width: 100%;
    }

    /*---------------------------
        "events" sub page
    ---------------------------*/

    .events .content {
        display: block;
    }

    .part_1,
    .part_2 {
        align-items: center;
        flex-direction: column;
    }

    .part_1 .img_box,
    .part_2 .img_box {
        height: 25vw;
        margin: 5%;
        max-width: 100%;
        width: 90%;
    }

    .part_1 .img,
    .part_2 .img {
        height: 100%;
        width: 100%;
    }

    .part_1 .text,
    .part_2 .text {
        max-width: 90%;
        padding: 0;
    }

    .part_2 .cta_btn {
        align-self: center;
    }

    /*---------------------------
        footer
    ----------------------------*/

    .copy_txt {
        display: none;
    }
}

/*--- adjustments small mobile screens ---*/

@media (max-width: 350px) {
    :root {

        /*--- font sizes ---*/

        --xl_font_size: 1.2rem;
        --l_font_size: 1.1rem;
        --m_font_size: 1.1rem;
        --s_font_size: 1rem;
        --xs_font_size: .8rem;
    }

    /*---------------------------
        "vores bryg" sub page
    ---------------------------*/

    .bryg .content {
        display: block;
    }

    .bryg .card {
        height: 60vw;
        margin: 10% 5%;
    }

    .beerlabel {
        height: auto;
    }

    .product {
        max-width: 80%;
    }

    /*---------------------------
        "om" sub page
    ---------------------------*/

    .om .hero_edge {
        height: 230px;
    }

    .om .img_box {
        height: 250px;
    }

    .om .img_box .img {
        border: 10px solid var(--clr_dark_neutral);
    }

    .name {
        max-width: 40%;
    }

    .owner_section .img {
        height: 30vw;
        max-width: 50%;
    }

    /*---------------------------
        footer
    ----------------------------*/

    .foot_some {
        width: 45%;
    }

    .top_link {
        height: 40px;
        right: 5vw;
        width: 40px;
    }
}

/*--- adjustments extra large screens ---*/

@media (min-width: 1200px) {
    :root {

        /*--- font sizes ---*/

        --xl_font_size: 2.4rem;
        --l_font_size: 2.2rem;
        --m_font_size: 2rem;
        --s_font_size: 1.8rem;
    }
}