:root {

    /*--- color palette ---*/

    /* basics */
    ---neutral_bg: #fffaf2;
    ---color_bg: #ffd98c;
    ---light_neutral: #f2e3ce;
    ---dark_neutral: #262626;

    /* accents */
    ---light_cool: #e5b6ac;
    ---mid_cool: #5c81cc;
    ---dark_cool: #1a1c33;
    ---light_warm: #e5ac00;
    ---dark_warm: #ff5e0d;

    /*--- font families ---*/

    ---header: all-round-gothic, sans-serif;
    /* font weights: 
        XLig = 200
        Book = 400
        Medium = 500
        Demi = 600
        Bold = 700
    */

    ---main_txt: como, sans-serif;
    /* font weights: 
        ExtraLight = 200
        Light = 300
        Regular = 400
        Medium = 500
        Semibold = 600
        Bold = 700
        ExtraBold = 800
        Heavy = 900
    */

    /*--- font sizes ---*/

    ---xl_font: 2rem;
    ---l_font: 1.8rem;
    ---m_font: 1.6rem;
    ---s_font: 1.4rem;
    ---xs_font: 1.2rem;

    /*--- variables for transitions ---*/

    ---slow_timing: 900ms ease-in-out;
    ---semi_fast_timing: 500ms ease-in-out;
    ---fast_timing: 300ms ease-in-out;

    /*--- variables for burgermenu ---*/

    ---bar_width: 45px;
    ---bar_height: 6px;
    ---burger_gap: 6px;
    ---burger_margin: calc(var(---bar_width) / 4);
    ---burger_height: calc(var(---bar_height) * 3 + var(---burger_gap) * 2);
    ---x_bar_width: calc(var(---burger_height) * 1.41421356237);
}

/*-------------------- 
    general styling
---------------------*/

body {
    background-color: var(---neutral_bg);
    color: var(---dark_neutral);
    font-family: var(---main_txt);
    max-width: 100vw;
    overflow-x: hidden;
}

.body_grid {
    display: grid;
    grid-gap: 0 50px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-areas: 
    "header header header"
    "hero hero hero"
    "main_1 main_2 main_3"
    "footer footer footer"
    ;
}

/*--- call-to-action button ---*/
.cta_btn {
    background-color: var(---mid_cool);
    border: 1px solid var(---dark_neutral);
    border-radius: .6em;
    font-family: var(---header);
    font-size: var(---s_font);
    font-weight: 400;
    margin: 5% 0 0;
    padding: 2% 5%;
    text-transform: uppercase;
}

.cta_btn:hover {
    background-color: var(---dark_warm);
}

/*--- text elements ---*/

.head_1 {
    color: var(---dark_neutral);
    font-family: var(---header);
    font-size: var(---xl_font);
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.head_2 {
    color: var(---dark_neutral);
    font-family: var(---header);
    font-size: var(---l_font);
    font-weight: 600;
}

.head_3 {
    color: var(---dark_neutral);
    font-family: var(---header);
    font-size: var(---l_font);
    font-weight: 500;
    text-transform: uppercase;
}

.head_4 {
    color: var(---dark_neutral);
    font-family: var(---main_txt);
    font-size: var(---l_font);
    font-weight: 400;
    letter-spacing: .2rem;
    line-height: 1.8rem;
}

.head_6 {
    color: var(---dark_neutral);
    font-family: var(---header);
    font-size: var(---s_font);
    font-weight: 800;
    padding: 5% 0;
}

.main_txt {
    color: var(---dark_neutral);
    font-family: var(---main_txt);
    font-size: var(---s_font);
    font-weight: 500;
    line-height: 1.5rem;
}

.foot_txt {
    color: var(---dark_neutral);
    font-family: var(---main_txt);
    font-size: var(---s_font);
    font-weight: 600;
    line-height: 1.5rem;
    padding: 2% 0;
}

/*--------------------------- 
    header and navigation
----------------------------*/

.header {
    background-color: var(---light_neutral);
    grid-area: header;
    z-index: 2;
}

/*--- logo ---*/

.logo_link {
    background-color: var(---light_neutral);
    border-radius: 0 0 2em 2em;
    left: 3vw;
    max-width: 200px;
    position: absolute;
    width: 20vw;
    z-index: 3;
}

.logo_img {
    max-width: 80%;
    padding: 5% 10% 10%;
    position: relative;
}

/*--- navbar ---*/

.navigation {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 3vw;
}

/*--- main menu ---*/

.main_menu {
    align-items: center;
    display: flex;
    font-family: var(---header);
    font-size: var(---m_font);
    font-weight: 500;
    justify-content: flex-end;
    width: 95%;
}

.menu_item.active_menu {
    border: 1px solid var(---dark_neutral);
    border-radius: .5em;
    margin: 1%;
    padding: 1%
}

.menu_item {
    align-items: center;
    display: flex;
    padding: 2%;
    transition: background-color var(---semi_fast_timing);
}

.arrow {
    max-width: 10px;
    margin-left: 10px;
    transform: rotate(0);
    transition: transform var(---fast_timing);
}

/*--- sub menus ---*/

.sub_menu {
    background-color: var(---color_bg);
    display: flex;
    font-family: var(---header);
    font-size: var(---m_font);
    font-weight: 400;
    left: 0;
    opacity: 0;
    padding-left: 25%;
    position: absolute;
    top: 0;
    transform: translateY(-110%);
    transition: transform var(---fast_timing), opacity var(---fast_timing);
    width: 100vw;
}

.sub_item {
    padding: 1%;
}

/*--- search icon and search field ---*/

.nav_icons {
    align-items: center;
    justify-content: flex-end;
    width: 5%;
}

.sog_icon {
    max-width: 25px;
    padding: 4%;
    position: relative;
}

.sog_box {
    background-color: var(---color_bg);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    padding: 1%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform var(---fast_timing), opacity var(---fast_timing);
    width: 100vw;
}

.sog_felt {
    background-color: var(---neutral_bg);
    border: none;
    color: var(---dark_neutral);
    font-family: var(---main_txt);
    font-size: var(---m_font);
    width: 72%;
}

/*--- hide checkboxes ---*/

.menu_item input,
.sog > input,
.burgermenu input {
    display: none;
    pointer-events: none;
}

/*--- transitions and other effects ---*/

.sub_arrow:has(input:checked) + .sub_menu,
.sog:has(input:checked) + .sog_box {
    opacity: 1;
    transform: translateY(125%);
    transition: transform var(---semi_fast_timing), opacity var(---semi_fast_timing);
}

.sub_arrow:has(input:checked) > .arrow {
    transform: rotate(90deg);
    transition: transform var(---semi_fast_timing);
}

.menu_item:has(.sub_arrow input:checked) {
    background-color: var(---color_bg);
    transition: background-color var(---slow_timing);
}

.logo_img:hover,
.menu_link:hover,
.sub_arrow:hover,
.sog:hover,
.sub_item:hover {
    opacity: .6;
}

.sub_arrow,
.sog {
    cursor: pointer;
}

/*--------------------- 
    main content
----------------------*/

.main {
    display: grid;
    grid-area: 2 / 1 / 4 / 4;
}

.hero {
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 4;
    justify-content: center;
}

.hero_img {
    height: fit-content;
    max-width: 100%;
}

.card_section,
.sub_main {
    display: grid;
    grid-area: 3 / 1 / 4 / 4;
    margin-bottom: 10%;
}

.gradient_container {
    position: relative;
}

.gradient_container .head_1 {
    color: var(---neutral_bg);
    font-size: 3rem;
    left: 44%;
    position: absolute;
    text-shadow: 1px 1px 5px var(---dark_neutral), -1px -1px 5px var(---dark_neutral);
    top: 40%;
    z-index: 1;
}

.gradient {
    background-image: linear-gradient(to top, var(---neutral_bg), transparent);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*------------------ 
    landingpage
-------------------*/

.welcome {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
}

.welcome .icon {
    max-height: 4rem;
    padding: 0 5%;
}

.intro_txt {
    padding: 0 10% 5%;
    text-align: justify;
    width: 80%;
}

.cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5% 0;
    text-align: justify;
}

.card_1 {
    grid-area: 3 / 1 / 4 / 2;
}

.card_2 {
    grid-area: 3 / 2 / 4 / 3;
}

.card_3 {
    grid-area: 3 / 3 / 4 / 4;
}

.card {
    align-items: center;
    border: 2px solid var(---dark_neutral);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: flex-start;
    margin: 2vw;
    padding: 30px;
}

.card_img {
    max-width: 100%;
}

.card.left {
    background-color: var(---light_warm);
}

.card.mid {
    background-color: var(---light_neutral);
}

.card.right {
    background-color: var(---light_cool);
}

/*-------------------- 
    404 errorpage
---------------------*/

.error_main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% auto 10%;
    max-width: 65%;
}

.error_main .head_2 {
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
}

.error_main .cta_btn {
    font-weight: 600;
}

/*--------------------------- 
    "vores bryg" sub page
---------------------------*/

.hero_edge {
    background-color: var(---light_neutral);
    border-top: 1px solid var(---dark_neutral);
    border-bottom: 1px solid var(---dark_neutral);
    height: 20px;
    width: 100%;
}

.bryg_txt {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.card_section:has(.bryg_card) {
    margin: 5% 1vw 15%;
}

.cards:has(.bryg_card) {
    max-width: 100%;
    margin: 2vw;
    position: relative;
}

.cards:has(.bryg_card)::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.bryg_card {
    align-items: center;
    background-color: var(---dark_neutral);
    border: 2px solid var(---dark_neutral);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.bryg_card .card_img {
    height: 65%;
    margin: 5% 0 0;
    object-fit: cover;
}

.bryg_card .cta_btn {
    font-size: var(---xs_font);
    font-weight: 500;
    margin: 2% 0 0;
    padding: 1% 6%;
    text-transform: uppercase;
}

.dragens_dyb .cta_btn {
    background-color: var(---dark_cool);
    color: var(---neutral_bg);
    cursor: pointer;
}

.dragens_dyb .cta_btn:hover {
    background-color: var(---light_cool);
    color: var(---dark_cool);
}

.pop_up {
    background-color: transparent;
    border: none;
    height: 65vh;
    padding: 0;
    width: 75vw;
}

.pop_up::backdrop {
    background: #262626;
    opacity: .8;
}

.indhold {
    height: 100%;
    position: absolute;
    width: 100%;
}

.product {
    left: 0;
    position: absolute;
    top: 25%;
    max-width: 25%;
    z-index: 1;
}

.product_img {
    max-height: 30vh;
    width: 100%;
}

.info {
    max-width: 80%;
    position: absolute;
    right: 0;
    top: 0;
}

.info_img {
    max-height: 55vh;
    width: 100%;
}

.pop_up .cta_btn {
    background-color: var(---dark_cool);
    border: 2px solid var(---neutral_bg);
    bottom: 0;
    color: var(---neutral_bg);
    cursor: pointer;
    font-size: var(---xs_font);
    margin: 0;
    padding: 1% 2%;
    position: absolute;
    right: 0;
}

.pop_up .cta_btn:hover {
    background-color: var(---light_cool);
    border: 2px solid var(---dark_cool);
    color: var(---dark_cool);
}

.himmelflugt .cta_btn:hover {
    background-color: var(---neutral_bg);
    cursor: pointer;
}

.solnedgang .cta_btn {
    background-color: var(---dark_warm);
    cursor: pointer;
}

.solnedgang .cta_btn:hover {
    background-color: var(---dark_neutral);
    border: 1px solid var(---dark_warm);
    color: var(---dark_warm);
}

.card_4 {
    grid-area: 4 / 1 / 5 / 2;
}

.syrlig_sommer .cta_btn {
    background-color: var(---color_bg);
    cursor: pointer;
}

.syrlig_sommer .cta_btn:hover {
    background-color: var(---light_warm);
}

.card_5 {
    grid-area: 4 / 2 / 5 / 3;
}

.tropiske_rødder .cta_btn {
    background-color: var(---light_warm);
    cursor: pointer;
}

.tropiske_rødder .cta_btn:hover {
    background-color: var(---color_bg);
}

.card_6 {
    grid-area: 4 / 3 / 5 / 4;
}

.ubaerlig_sodme .cta_btn {
    background-color: var(---light_cool);
    cursor: pointer;
}

.ubaerlig_sodme .cta_btn:hover {
    background-color: var(---dark_warm);
    border: 1px solid var(---light_cool);
    color: var(---neutral_bg);
}

/*--------------------------- 
    "events" sub page
---------------------------*/

.hero_img.events {
    max-height: 30vh;
    object-fit: cover;
    width: 100%;
}

.head_4.events {
    font-weight: 500;
}

.events_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10vw 5%;
    max-width: 100%;
    text-align: justify;
}

.events_content .big,
.events_content .small {
    border: 1px solid var(---dark_neutral);
    border-radius: 2em;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.events_content .main_txt {
    font-size: var(---m_font);
    line-height: 2rem;
    padding: 5% 0;
}

.part_1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.part_1 .img {
    height: 30vw;
    translate: -5vw 0;
}

.part_1 .txt {
    max-width: 55%;
    padding-top: 2em;
}

.part_2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.part_2 .img {
    height: 25vw;
    translate: 5vw -10vw;
}

.part_2 .txt {
    max-width: 70%;
}

.part_2 .head_3 {
    text-align: right;
}

.events_content .cta_btn {
    margin: 0;
    padding: 1% 2%;
}

/*--------------------------- 
    "om os" sub page
---------------------------*/

.om_top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 3vw;
    max-width: 100%;
}

.om_top .intro_txt {
    box-sizing: border-box;
    padding: 0 5% 0 0;
    width: 70%;
}

.om_top .head_4 {
    font-weight: 500;
    line-height: 2rem;
}

.om_img {
    height: 100%;
    max-width: 30%;
}

.om_img img {
    border: 1px solid var(---dark_neutral);
    border-radius: 2em;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.card_section.om {
    justify-content: space-between;
    margin: 10% 3vw 5%;
}

.cards:has(.om) {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

.card.om {
    justify-content: space-between;
    margin: 0;
    max-height: 100%;
    max-width: 33vw;
    position: relative;
}

.card.om .head_3 {
    font-size: var(---s_font);
    font-weight: 600;
    padding-bottom: 2%;
}

.card.om .main_txt {
    line-height: 1.8rem;
}

.card.om.left {
    align-items: flex-start;
    margin-right: 6%;
}

.card.om.left .icon {
    max-width: 25%;
    position: absolute;
    right: -3%;
    top: -10%;
}

.card.om.left .cta_btn:hover {
    background-color: var(---light_warm);
    border: 1px solid var(---mid_cool);
}

.card.om.left .cta_btn:hover > a {
    color: var(---mid_cool);
    font-weight: 700;
}

.card.om.mid {
    margin: 0 3%;
    text-align-last: center;
}

.card.om.mid .box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card.om.mid .cta_btn {
    background-color: var(---color_bg);
}

.card.om.mid .cta_btn:hover {
    background-color: var(---light_neutral);
    border: 1px solid var(---light_warm);
}

.card.om.mid .cta_btn:hover > a {
    color: var(---light_warm);
    font-weight: 700;
}

.card.om.mid .icon {
    max-height: 100%;
    max-width: 20%;
}

.card.om.right {
    align-items: flex-end;
    margin-left: 6%;
    text-align-last: right;
}

.card.om.right .icon {
    left: -3%;
    max-width: 20%;
    position: absolute;
    top: -10%;
}

.card.om.right .cta_btn {
    background-color: var(---dark_warm);
}

.card.om.right .cta_btn:hover {
    background-color: var(---light_cool);
    border: 1px solid var(---dark_warm);
}

.card.om.right .cta_btn:hover > a {
    color: var(---dark_warm);
    font-weight: 700;
}

.owner_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: 4 / 1 / 5 / 4;
    margin: 5% 3vw;
    max-width: 100%;
}

.owner_section .head_3 {
    text-align: center;
    padding-bottom: 3%;
    width: 100%;
}

.owner_section .main_txt {
    font-size: var(---m_font);
    line-height: 2rem;
    text-align: justify;
    width: 50%;
}

.name img {
    box-sizing: border-box;
    padding: 3%;
    width: 100%;
}

.portrait {
    border: 1px solid var(---dark_neutral);
    border-radius: 2em;
    width: 100%;
}

.big_bro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.lil_bro {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 20%;
}

/*--------------------------- 
    footer
----------------------------*/

.footer {
    background-color: var(---color_bg);
    border-top: 1px solid var(---dark_neutral);
    display: flex;
    grid-area: footer;
    justify-content: space-between;
    padding: 5vh 3vw 8vh;
    position: relative;
}

/*--- go to top of page ---*/

.tiltop {
    align-items: center;
    background-color: var(---color_bg);
    border: 1px solid var(---dark_neutral);
    border-radius: 1em;
    bottom: 105%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
    right: 3vw;
    width: 60px;
}

.tiltop:hover {
    background-color: var(---light_warm);
}

.tiltop_img {
    max-width: 50px;
    padding: 20%;
    position: relative;
    rotate: -90deg;
    width: 35%;
}

/*--- actual footer ---*/

.foot_om {
    text-align: left;
    width: 25%;
}

.foot_om .cta_btn {
    font-size: var(---xs_font);
}

.foot_some {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.some_link {
    height: fit-content;
    padding: 5% 10% 10%;
    max-width: 50%;
}

.some_img {
    height: fit-content;
    max-width: 50px;
    width: 100%;
}

.foot_kontakt {
    text-align: right;
    width: 25%;
}

.copy_txt {
    bottom: 3%;
    display: block;
    position: absolute;
    right: 3%;
    text-align: center;
    width: 94%;
}

/*------------------------------------------------
    styling for smaller and extra large screens 
-------------------------------------------------*/

@media (max-width: 1050px) {
    .main_menu .menu_item:first-child {
        display: none;
    }

    .pop_up {
        height: 55vh;
    }

    .part_2 .img {
        height: 25vw;
        translate: 5vw -7vw;
    }

    .foot_some {
        width: 25%;
    }
}

/*--- adjustments for tablet and larger mobile devices ---*/

@media (max-width: 800px) {

    :root {
        /*--- font sizes ---*/

        ---xl_font: 1.8rem;
        ---l_font: 1.5rem;
        ---m_font: 1.4rem;
        ---s_font: 1.2rem;
        ---xs_font: 1rem;
    }
    
    /*--- remove grid ---*/

    .body_grid {
        display: block;
        overflow-x: hidden;
    }

    /*--- text elements ---*/

    .head_1 {
        letter-spacing: .5rem;
    }

    .head_6 {
        padding: 3% 0 2%;
    }

    /*--------------------------- 
        header and navigation
    ----------------------------*/

    .header {
        bottom: 0;
        position: fixed;
        transform: translate(0 0);
        width: 100vw;
        z-index: 999;
    }

    /*--- logo ---*/

    .logo_link {
        border-radius: 1.5em 1.5em 0 0;
        translate: 0 -35%;
        width: 40vw;
    }

    .logo_img {
        padding: 10%;
    }

    /*--- navbar ---*/

    .navigation {
        align-items: flex-end;
        flex-direction: column-reverse;
        margin: 0 5vw;
        max-width: 100vw;
    }

    /*--- main menu ---*/

    .main_menu {
        align-self: center;
        background-color: var(---light_neutral);
        box-sizing: border-box;
        flex-direction: column;
        font-size: var(---xl_font);
        height: 60vh;
        justify-content: flex-start;
        margin: 0;
        padding: 10%;
        position: absolute;
        text-align: left;
        translate: 120% -90%;
        transition: translate var(---slow_timing);
        width: 100vw;
        z-index: 1;
    }

    .main_menu .menu_item:first-child {
        display: flex;
    }

    .menu_item.active_menu {
        margin: 0;
        padding: 2%
    }

    .menu_item {
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    /*--- sub menus ---*/

    .sub_menu {
        align-items: flex-start;
        flex-direction: column;
        font-size: var(---l_font);
        justify-content: flex-start;
        padding-left: 5%;
        pointer-events: none;
        transform: translateY(0);
        top: 0;
        width: 80vw;
        z-index: 9;
    }

    .sub_item {
        padding: 2%;
        width: 80vw;
    }

    /*--- navigation icons ---*/

    .nav_icons {
        display: flex;
        flex-direction: row;
        width: 70%;
        z-index: 2;
    }

    .menu_icon {
        padding: 5%;
    }

    .menu_icon:last-child {
        padding-right: 0;
    }

    /*--- search ---*/

    .sog_icon {
        max-width: 30px;
    }

    .sog_box {
        left: 0;
        pointer-events: none;
        transform: translateY(0);
    }

    .sog_felt {
        font-size: var(---s_font);
        margin-right: 5%;
        width: 60%;
    }

    /*--- burgermenu ---*/

    .burgermenu {
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: var(---burger_gap);
        right: var(---burger_margin);
        width: max-content;
        z-index: 2;
    }

    .burgermenu::before,
    .burgermenu::after,
    .burgermenu input {
        background-color: var(---dark_neutral);
        border-radius: 999px;
        content: "";
        height: var(---bar_height);
        transform-origin: left center;
        transition: opacity var(---semi_fast_timing), width var(---semi_fast_timing), rotate var(---slow_timing), translate var(---semi_fast_timing);
        width: var(---bar_width);
    }

    .burgermenu input {
        appearance: none;
        display: flex;
        margin: 0;
        outline: none;
        pointer-events: none;
    }

    /*--- transitions and other effects ---*/

    .header:has(.burgermenu input:checked) .main_menu {
        translate: 0 -90%;
        transition: translate var(---slow_timing);
    }

    /* burgermenu */

    .burgermenu:has(input:checked)::before {
        rotate: 45deg;
        translate: 0 calc(var(---bar_height) / -2);
        width: var(---x_bar_width);
    }

    .burgermenu:has(input:checked)::after {
        rotate: -45deg;
        translate: 0 calc(var(---bar_height) / 2);
        width: var(---x_bar_width);
    }

    .burgermenu input:checked {
        opacity: 0;
        transition: opacity var(---semi_fast_timing), width var(---semi_fast_timing);
        width: 0;
    }

    /* search bar */

    .sog:has(input:checked) + .sog_box {
        pointer-events: all;
        transform: translateY(-90%);
        z-index: 1;
    }

    /* remove hover effects */

    .logo_img:hover,
    .menu_link:hover,
    .sub_arrow:hover,
    .sog:hover,
    .sub_item:hover {
        opacity: 1;
    }

    /* sub menus */

    .sub_arrow:has(input:checked) + .sub_menu {
        pointer-events: all;
        transform: translateY(95%);
    }

    .sub_arrow:has(input:checked) + .om_sub {
        pointer-events: all;
        transform: translateY(30%);
    }

    /*------------------------------- 
        main content - landingpage
    --------------------------------*/

    .main {
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }

    .intro_txt {
        padding: 0 10% 10%;
    }

    .card_section {
        display: flex;
        flex-direction: column;
        margin: 0 10% 5%;
    }

    /*------------------- 
        landingpage
    --------------------*/

    .cards {
        margin: 0;
    }

    .card {
        height: fit-content;
        margin: 5% 0 10%;
        padding: 20px;
    }

    .card_img {
        padding: 5% 0;
    }

    /*--------------------------- 
        "vores bryg" sub page
    ---------------------------*/

    .card_section:has(.bryg_card) {
        margin: 5% 5vw 10%;
    }

    .cards:has(.bryg_card)::after {
        padding-top: 60%;
    }

    .bryg_card .card_img {
        height: 100%;
        margin: 2% 0 0;
        padding: 0;
    }

    .bryg_card .cta_btn {
        margin: 0 0 2%;
    }

    .pop_up {
        height: 70vh;
        overflow: hidden;
        width: 60vw;
    }
    
    .product {
        max-width: 50%;
        top: 0;
        z-index: initial;
    }
    
    .info {
        bottom: 0;
        max-height: 100%;
        max-width: 80%;
        top: auto;
    }

    .info_img {
        height: 100%;
        max-width: 100%;
    }

    .pop_up .cta_btn {
        bottom: 2%;
        right: 10%;
    }

    /*--------------------------- 
        "events" sub page
    ---------------------------*/

    .part_1 .img {
        translate: 0 0;
    }

    .part_1 .txt {
        padding-left: 5%;
    }

    .part_2 .img {
        translate: 0 0;
    }

    .part_2 .txt {
        display: flex;
        flex-direction: column;
        max-width: 70%;
        padding-right: 5%;
    }

    .part_2 .head_3 {
        text-align: right;
    }

    .part_2 .cta_btn {
        align-self: flex-end;
        width: fit-content;
    }

    /*--------------------------- 
        "om os" sub page
    ---------------------------*/

    .om_top {
        margin: 0 5vw;
        max-width: 90%;
    }

    .om_top .intro_txt {
        width: 55%;
    }

    .om_top .head_4 {
        font-size: var(---m_font);
        line-height: 1.8rem;
    }

    .om_img {
        height: 100%;
        max-width: 45%;
    }

    .card_section.om {
        display: none;
    }

    .owner_section {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 5% 5vw;
        max-width: 90%;
    }

    .owner_section .head_3 {
        font-size: var(---l_font);
        font-weight: 600;
        padding: 3% 0 5%;
    }

    .owner_section .main_txt {
        font-size: var(---m_font);
        line-height: 1.8rem;
        padding: 3% 0;
        text-align: justify;
        width: 100%;
    }

    .name {
        max-width: 30%;
    }

    .name img {
        box-sizing: border-box;
        padding: 3%;
        width: 100%;
    }

    .portrait {
        border: 1px solid var(---dark_neutral);
        border-radius: 2em;
        height: 25vw;
        max-width: 40%;
        object-fit: cover;
    }

    .big_bro {
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
    }

    .lil_bro {
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    /*--------------------------- 
        footer
    ----------------------------*/

    .footer {
        padding: 5vh 5vw 15vh;
    }

    .foot_txt {
        padding: 1% 0;
    }

    /*--- adjust sizing ---*/

    .tiltop {
        height: 50px;
        right: 5vw;
        width: 50px;
    }
    
    /*--- actual footer ---*/
    
    .foot_om {
        display: none;
    }
    
    .foot_some {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: center;
        width: 35%;
    }

    .some_link {
        padding: 5% 15% 10% 5%;
    }
    
    .foot_kontakt {
        width: 65%;
    }
    
    .copy_txt {
        bottom: 25%;
        font-size: var(---xs_font);
        position: absolute;
        right: 3vw;
        text-align: right;
    }

}

/*--- adjustments mobile devices ---*/

@media (max-width: 600px) {
    :root {
        
        /*--- font sizes ---*/

        ---xl_font: 1.5rem;
        ---l_font: 1.4rem;
        ---m_font: 1.3rem;
    }

    /*--- ensure visiblity ---*/

    .logo_link {
        translate: 0 -40%;
        width: 35vw;
    }

    .sog_felt {
        margin-right: 5%;
        width: 55%;
    }

    /*--- balance spacing ---*/

    .head_1 {
        letter-spacing: .2rem;
    }

    .welcome .icon {
        max-height: 2.5rem;
        padding: 0 3%;
    }

    .gradient_container .head_1 {
        left: 41%;
        top: 35%;
    }

    .error_main .head_2 {
        line-height: 2rem;
        padding: 10% 0;
    }

    .pop_up {
        height: 75vh;
        width: 75vw;
    }
    
    .indhold {
        display: flex;
        justify-content: center;
    }
    
    .product {
        left: auto;
    }
    
    .info {
        max-height: 80%;
        max-width: 100%;
        right: auto;
    }

    .pop_up .cta_btn {
        right: 20%;
    }

    /*--------------------------- 
        "events" sub page
    ---------------------------*/

    .head_1.events {
        font-size: 10vw;
        left: 30%;
    }

    .events_content .head_3 {
        font-size: var(---xl_font);
        text-align: center;
    }
    
    .events_content .part_1,
    .events_content .part_2 {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .part_1 .img,
    .part_2 .img {
        margin-bottom: 5%;
        width: 100%;
    }

    .part_1 .txt,
    .part_2 .txt {
        max-width: 100%;
        padding: 0;
    }

    .part_2 .cta_btn {
        align-self: center;
    }

    .foot_some {
        width: 40%;
    }
    
    .foot_kontakt {
        width: 55%;
    }

    .foot_txt {
        padding: 0;
    }

}

/*--- adjustments small mobile screens ---*/

@media (max-width: 350px) {
    :root {
        
        /*--- font sizes ---*/

        ---xl_font: 1.2rem;
        ---l_font: 1.1rem;
        ---m_font: 1.1rem;
        ---s_font: 1rem;
        ---xs_font: .8rem;
    }

    /*--- ensure visiblity ---*/

    .menu_icon:last-child {
        padding-right: 5%;
    }

    .sog_felt {
        margin-right: 10%;
        width: 50%;
    }

    /*--- balance spacing ---*/

    .head_1 {
        letter-spacing: 0;
    }

    .welcome .icon {
        max-height: 2rem;
    }

    .main {
        padding-bottom: 10%;
    }

    .head_1.error {
        color: var(---dark_neutral);
        font-size: 2.5rem;
        left: 40%;
        text-shadow: none;
        top: 150%;
    }

    .error_main .head_2 {
        padding: 70% 0 15%;
    }

    .cards:has(.bryg_card) {
        margin: 5vw 2vw;
    }

    .cards:has(.bryg_card)::after {
        padding-top: 75%;
    }

    .bryg_card .card_img {
        height: 80%;
        margin: 8% 0 2%;
    }

    .pop_up {
        height: 60vh;
        width: 90vw;
    }
    
    .product {
        max-width: 80%;
    }
    
    .pop_up .cta_btn {
        right: 5%;
    }

    .foot_txt {
        font-size: var(---xs_font);
        padding: 0;
    }

    .footer {
        padding: 3vh 5vw 12vh;
    }

    .foot_some {
        width: 45%;
    }

    .some_img {
        padding: 5% 15% 10% 0%;
    }

    .foot_kontakt {
        width: 55%;
    }
    
    .copy_txt {
        right: 5vw;
        width: 50%;
    }

    /*--- adjust sizing ---*/

    .tiltop {
        height: 40px;
        right: 5vw;
        width: 40px;
    }

}

/*--- adjustments extra large screens ---*/

@media (min-width: 1200px) {
    :root {
        /*--- font sizes ---*/

        ---xl_font: 2.4rem;
        ---l_font: 2rem;
        ---m_font: 1.8rem;
        ---s_font: 1.5rem;
    }

    /*--- balance space and sizes ---*/

    .sog_felt {
        font-size: var(---s_font);
        width: 75%;
    }
    
    .foot_some {
        width: 30%;
    }
    
    .some_img {
        max-width: 70px;
    }
}